[Desktop Entry]
Name=AntigravityIDE - URL Handler
Comment=Build the new way
GenericName=Text Editor
Exec=antigravity-ide --open-url %U
Icon=antigravity-ide
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/antigravity;
Keywords=Antigravity;antigravity
