[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity
Comment=Build the new way
Exec=antigravity %F
Icon=antigravity
Categories=TextEditor;Development;IDE;
StartupWMClass=Antigravity
StartupNotify=true
Keywords=Antigravity;antigravity
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=antigravity --new-window %F
Icon=antigravity
