[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity IDE
Comment=Build the new way
Exec=antigravity-ide %F
Icon=antigravity-ide
Categories=TextEditor;Development;IDE;
StartupWMClass=AntigravityIDE
StartupNotify=true
Keywords=Antigravity;antigravity
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=antigravity-ide --new-window %F
Icon=antigravity-ide
